# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

# Exercise 4: Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```

# Exercise 5: Debt Calculator

Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    “laval” ⇒ Yes
    “montreal” ⇒ No
```

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form “userid-COUNTRYID”. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(-332) ➞ -4

century_from_year(55) ➞ 1

century_from_year(-65) ➞ -1
```

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```