# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

In [ ]:
def addition(num1, num2):
    return num1 + num2

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

In [ ]:
even = []
for x in range(2,3049,2):
    even.append(x)
print(even)

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

In [4]:
def first_last(input):
    return f'{input[0]}{input[-1]}'
print(first_last("ganesh"))

gh

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

In [5]:
def has_key(dictionary, key):
    return key in dictionary
print(has_key({ "a": 44, "b": 45, "c": 46 }, "d"))
print(has_key({ "craves": True, "midnight": True, "snack": True }, "morning"))
print(has_key({ "pot": 1, "tot": 2, "not": 3 }, "not"))

False
False
True

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

In [17]:
def key_count(array):
    occurences = {}
    for item in array:
        if item in occurences:
            occurences[item] = occurences[item] + 1
        else:
            occurences[item] = 1
    return occurences
print(key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]))

{1: 3, 3: 2, 2: 1, 5: 2, 4: 1}

# Exercise 4: Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```

In [19]:
def test_distinct(array):
    occurences = {}
    for item in array:
        if item in occurences:
            return False
        else:
            occurences[item] = True
    return True
print(test_distinct([2,3,4,5,7,8]))
print(test_distinct([2,3,4,5,8,8]))

True
False

# Exercise 5: Debt Calculator

Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

In [49]:
import math
def debt_total(months):
    current_total = 100000
    for x in range(1, months + 1, 1):
        added_amout = math.ceil((current_total * 1.05 - current_total) / 1000) * 1000
        current_total = current_total + added_amout
    return current_total
print(debt_total(7))
print(debt_total(8))
print(debt_total(9))
print(debt_total(1))
print(debt_total(57))

144000
152000
160000
105000
1736000

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

In [71]:
def correct_stream(user_words, correct_words):
    if len(user_words) is not len(correct_words):
        raise Exception("lists are not equivalent and cannot be compared")

    correct = []
    array_length = len(user_words)

    for i in range(array_length):
            correct.append(1 if user_words[i] == correct_words[i] else 0)
    return correct

print(correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
))
print(correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
))

[1, 1, 0]
[1, 0, 1, 1, 1]

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

In [74]:
for number in range(1, 151):
    fizz = number % 3 == 0
    buzz = number % 5 == 0
    fizzBuzz = fizz and buzz
    
    if fizzBuzz:
        print("FizzBuzz")
    elif fizz:
        print("Fizz")
    elif buzz:
        print("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz
Buzz
131
Fizz
133
134
FizzBuzz
136
137
Fizz
139
Buzz
Fizz
142
143
Fizz
Buzz
146
Fizz
148
149
FizzBuzz

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    “laval” ⇒ Yes
    “montreal” ⇒ No
```

In [75]:
def is_palindrome(word):
    return word == word[::-1]
print(is_palindrome("laval"))
print(is_palindrome("montreal"))

True
False

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form “userid-COUNTRYID”. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

In [79]:
def country_ids(array):
    occurences = {}
    for item in array:
        country_id = item.split("-").pop()
        if country_id in occurences:
            occurences[country_id] = occurences[country_id] + 1
        else:
            occurences[country_id] = 1
    return occurences
print(country_ids(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US"]))
print(country_ids(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US",
    "iuhsdf897y3righsfe-US", "iushdf98h23ryg-IT", "iuhdf9h32ryu9gf-IT",
    "IUufgh98y34-FR", "98yfdiuhdfbviuh8-UK"
]))

{'US': 2, 'CA': 1}
{'US': 3, 'CA': 1, 'IT': 2, 'FR': 1, 'UK': 1}

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

In [83]:
def country_ids(array):

    occurences = {}
    for item in array:
        country_id = item.split("-").pop()
        if country_id in occurences:
            occurences[country_id] = occurences[country_id] + 1
        else:
            occurences[country_id] = 1
    sorted_countries = sorted(occurences.items(), key=lambda kv: kv[1])
    
    return sorted_countries[-3:]
print(country_ids(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US",
    "iuhsdf897y3righsfe-US", "iushdf98h23ryg-IT", "iuhdf9h32ryu9gf-IT",
    "IUufgh98y34-FR", "98yfdiuhdfbviuh8-UK"
]))

[('UK', 1), ('IT', 2), ('US', 3)]

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(-332) ➞ -4

century_from_year(55) ➞ 1

century_from_year(-65) ➞ -1
```

In [90]:
def century_from_year(number):
    is_negative = number < 0
    number_to_parse = number * -1 if is_negative else number
    century = (number_to_parse) // 100 + 1

    if(number == 0):
        return 1
    
    if(is_negative):
        return century * -1
    

    return century

print(century_from_year(2005))
print(century_from_year(1850)) 
print(century_from_year(-332)) 
print(century_from_year(55))
print(century_from_year(-65))

21
19
-4
1
-1

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

In [93]:
import functools 
def grade_school(list1, list2):
    list1_string = list(map(str, list1))
    list2_string =list(map(str, list2))
    num1 = int("".join(list1_string))
    num2 = int("".join(list2_string))
    return num1 + num2
print(grade_school([1,1], [1]))
print(grade_school([9,9], [2]))

12
101

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [103]:
def pretty_pyramid(number):
    for stars in range(number - 1):
        stars_string = "* " * (stars + 1)
        print(stars_string)
    print("* " * number)
    for stars in range(number - 1, 0, -1):
        stars_string = "* " * (stars)
        print(stars_string)
    
pretty_pyramid(8)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

In [115]:
def lucky_seven(array):
    temp_total = 0
    is_last_number_7 = False
    if len(array) == 0:
        return 0
    
    for number in array:
        print(temp_total)
        if(is_last_number_7):
            temp_total = temp_total + (number * 3)
            if(number == 7):
                is_last_number_7 = True
            else:
                is_last_number_7 = False
            continue

        if (number == 7):
            temp_total = temp_total + (number * 2)
            is_last_number_7 = True
            continue

        temp_total = temp_total + number
    return temp_total

print(lucky_seven([1, 2, 4, 1]))
print(lucky_seven([1, 1]))   
print(lucky_seven([1, 2, 2, 1, 7]))     
print(lucky_seven([1, 2, 2, 1, 7, 3, 1]))

0
1
3
5
6
20
29
30

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```

In [123]:
def pascal_triangle(n):
    if n == 0:
        return []
    elif n == 1:
        print([1])
        return [1]
    else:
        new_row = [1]
        last_row = pascal_triangle(n-1)
        for i in range(len(last_row)-1):
            new_row.append(last_row[i] + last_row[i+1])
        new_row += [1]
    print(new_row)    
    return new_row
pascal_triangle(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

[1, 4, 6, 4, 1]