# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ‚ûû 5

addition(-3, -6) ‚ûû -9

addition(7, 3) ‚ûû 10

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ‚ûû "gh"

first_last("kali") ‚ûû "ki"

first_last("shiva") ‚ûû "sa"

first_last("vishnu") ‚ûû "vu"

first_last("durga") ‚ûû "da"
```

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ‚ûû False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ‚ûû False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ‚ûû True
```

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ‚áí {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

# Exercise 4: Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```

# Exercise 5: Debt Calculator

Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ‚ûû [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ‚ûû [1, 0, 1, 1, 1]

```

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    ‚Äúlaval‚Äù ‚áí Yes
    ‚Äúmontreal‚Äù ‚áí No
```

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form ‚Äúuserid-COUNTRYID‚Äù. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ‚ûû 21

century_from_year(1850) ‚ûû 19

century_from_year(-332) ‚ûû -4

century_from_year(55) ‚ûû 1

century_from_year(-65) ‚ûû -1
```

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ‚áí 11 + 1 = 12
    [9, 9] + [2] ‚áí 99 + 2 = 101
```

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is ‚Äúlucky‚Äù, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) ‚Üí 8
lucky_seven([1, 1]) ‚Üí 2
lucky_seven([1, 2, 2, 1, 7]) ‚Üí 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) ‚Üí 30
```

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```

In [1]:
"""Warm Up 1 Create a function that takes two numbers as arguments and return their sum. Examples

addition(3, 2) ‚ûû 5

addition(-3, -6) ‚ûû -9

addition(7, 3) ‚ûû 10"""

def addition(x,y):
    print(x+y)
    
addition(3, 2)
addition(-3, -6)
addition(7, 3)

5
-9
10

In [2]:
"""Warm Up 2: Generate a Python list of all the even numbers between 4 to 3048"""
list(range(4,3048,2))

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1016,
 1018,
 1020,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1126,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1192,
 1194,
 1196,
 1198,
 1200,
 1202,
 1204,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1244,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1550,
 1552,
 1554,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1590,
 1592,
 1594,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1694,
 1696,
 1698,
 1700,
 1702,
 1704,
 1706,
 1708,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1724,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740,
 1742,
 1744,
 1746,
 1748,
 1750,
 1752,
 1754,
 1756,
 1758,
 1760,
 1762,
 1764,
 1766,
 1768,
 1770,
 1772,
 1774,
 1776,
 1778,
 1780,
 1782,
 1784,
 1786,
 1788,
 1790,
 1792,
 1794,
 1796,
 1798,
 1800,
 1802,
 1804,
 1806,
 1808,
 1810,
 1812,
 1814,
 1816,
 1818,
 1820,
 1822,
 1824,
 1826,
 1828,
 1830,
 1832,
 1834,
 1836,
 1838,
 1840,
 1842,
 1844,
 1846,
 1848,
 1850,
 1852,
 1854,
 1856,
 1858,
 1860,
 1862,
 1864,
 1866,
 1868,
 1870,
 1872,
 1874,
 1876,
 1878,
 1880,
 1882,
 1884,
 1886,
 1888,
 1890,
 1892,
 1894,
 1896,
 1898,
 1900,
 1902,
 1904,
 1906,
 1908,
 1910,
 1912,
 1914,
 1916,
 1918,
 1920,
 1922,
 1924,
 1926,
 1928,
 1930,
 1932,
 1934,
 1936,
 1938,
 1940,
 1942,
 1944,
 1946,
 1948,
 1950,
 1952,
 1954,
 1956,
 1958,
 1960,
 1962,
 1964,
 1966,
 1968,
 1970,
 1972,
 1974,
 1976,
 1978,
 1980,
 1982,
 1984,
 1986,
 1988,
 1990,
 1992,
 1994,
 1996,
 1998,
 2000,
 2002,
 ...]

In [4]:
#Exercise 1:First and Last
def first_last(name):
    print(name[0]+name[-1])

first_last("ganesh")
first_last("kali")
first_last("shiva")
first_last("vishnu")
first_last("durga")

gh
ki
sa
vu
da

In [43]:
# Exercise 2: Keys in Dict
def has_key(d,key):
    if key in d:
        print(True)
    else:
        print(False)

    
has_key({"a": 44, "b": 45, "c": 46}, "d")
has_key({"craves": True, "midnight": True, "snack": True}, "morning")
has_key({"pot": 1, "tot": 2, "not": 3}, "not")

False
False
True

In [165]:
"""Exercise 3: Element Count
Write a function that count how many times each element in a list occurs. It should return a dict in the format element -> count
ex:
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ‚áí {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}"""

def key_count(list):
    key = {}
    unique = set(list)
    for i in unique:
        c = list.count(i)
        key[i]=c
    print(key)

    
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4])

{1: 3, 2: 1, 3: 2, 4: 1, 5: 2}

In [28]:
"""Exercise 4: Test Distinct
Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False"""

def test_distinct(list):
    newSet = set(list)
    print(len(newSet) == len(list))

        
test_distinct([2,3,4,5,7,8])
test_distinct([2,3,4,5,8,8])

True
False

In [76]:
"""Exercise 5: Debt Calculator
Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting  100,000ùëüùëúùë¢ùëõùëëùëíùëëùë°ùëú 1000 .

debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
"""
import math

"""def debt_total(months):
    new_debt = 100000 
    for month in range(1, months + 1): # month = 2
        new_debt = round(new_debt * 1.05, -3)
    print(round(new_debt, -3))"""

def debt_total(months):
    new_debt = 100000 
    for month in range(1, months + 1): # month = 2
        new_debt = math.ceil(new_debt/1000 * 1.05)*1000
    print(new_debt)

debt_total(7)
debt_total(8)
debt_total(9)
debt_total(1)
debt_total(57)

144000
152000
160000
105000
1736000

In [77]:
"""Exercise 6: Spell Checker
Create a function that takes in two lists:
A sentence as a list of user-typed words
The list of correctly-typed words
and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).
Inputs:
User-typed: ["cat", "blue", "skt", "umbrells", "paddy"]
Correct: ["cat", "blue", "sky", "umbrella", "paddy"]

correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ‚ûû [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ‚ûû [1, 0, 1, 1, 1]"""


def correct_stream(list1,list2):
    new_list=[]
    for i in range(len(list1)):
        if list1[i] != list2[i]:
            new_list.append(0)
        else:
            new_list.append(1)
    print(new_list)
        

    

correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
)

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
)

[1, 1, 0]
[1, 0, 1, 1, 1]

In [78]:
"""Exercise 7: FizzBuzz
Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

If the number is divisible by 3, write Fizz instead of the number
If the number is divisible by 5, write Buzz instead of the number
If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number
So the results are 1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...

Write a python program that prints fizzbuzz for numbers 1 to 150"""
list1 = []

a = list(range(1,150))
for num in a:
    if num%3 == 0 and num%5==0:
        print("FizzBuzz")
    elif num%3 == 0:
        print("Fizz")
    elif num%5 == 0:
        print("Buzz")
    else:
        print(num)
print(a)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz
Buzz
131
Fizz
133
134
FizzBuzz
136
137
Fizz
139
Buzz
Fizz
142
143
Fizz
Buzz
146
Fizz
148
149
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

In [187]:
#Exercise 8
def palindrome(word):
    original = []
    reverse = original[::-1]
    reverse1 = "".join(word[::-1])
    
    for j in word[::-1]:
        reverse.append(j)
    if word == reverse1:
            print("Yes")
    else: 
            print("No")

palindrome("montreal")
palindrome("laval")

No
Yes

In [2]:
"""Exercise 9: Counting Country IDs
We have a list of user IDS with identifiers of form ‚Äúuserid-COUNTRYID‚Äù. Calculate how many countries we have.

Ex:

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}"""

def country_ID(list):
    countries = {}
    for id in list:
        country = id[-2:]
  #      if country in element:
        countries[country] = countries[country] + 1 if country in countries else 1
    return (countries)

print(country_ID(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US"]))
print(country_ID(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US", "iuhsdf897y3righsfe-US", "iushdf98h23ryg-IT", "iuhdf9h32ryu9gf-IT",
    "IUufgh98y34-FR", "98yfdiuhdfbviuh8-UK"]))

{'US': 2, 'CA': 1}
{'US': 3, 'CA': 1, 'IT': 2, 'FR': 1, 'UK': 1}

In [14]:
"""Exercise 10: Identifying top countries
Using your solution to the problem above, write a function that returns the top 3 countries by number of users

"""
def high_users(list):    
    a = country_ID(list)
    sorted_a = sorted(a.items(),key=lambda x: x[1],reverse=True)

    top_3 = sorted_a[0:3]
    print(top_3)
    

high_users(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US"])
high_users(["gyhwefy7832ryyg-US", "iu7ytf87gyuwef-CA", "98yfyg82t3r-US", "iuhsdf897y3righsfe-US", "iushdf98h23ryg-IT", "iuhdf9h32ryu9gf-IT",
    "IUufgh98y34-FR", "98yfdiuhdfbviuh8-UK"])

[('US', 2), ('CA', 1)]
[('US', 3), ('IT', 2), ('CA', 1)]

In [217]:
"""Exercise 11: Century
Write a function that takes a year and returns its corresponding century.

Examples
century_from_year(2005) ‚ûû 21

century_from_year(1850) ‚ûû 19

century_from_year(-332) ‚ûû -4

century_from_year(55) ‚ûû 1

century_from_year(-65) ‚ûû -1"""

def century_from_year(year):
    if year > 0:
        a = int(year/100)+1
        print(a)
    else:
        b = int(year/100)-1
        print(b)

century_from_year(2005)
century_from_year(1850) 
century_from_year(-332)
century_from_year(55)
century_from_year(-65)

21
19
-4
1
-1

In [137]:
"""Exercise 12: Grade school addition
Write a function that, given two lists of integers, adds them as if they were two numbers. So 12 would be [1,2] and 2357 would be [2,3,5,7]

Ex:

    [1, 1] + [1] ‚áí 11 + 1 = 12
    [9, 9] + [2] ‚áí 99 + 2 = 101"""

def grade1(x,y):
#    r=[0]*(len(x)+1)
#    print[r]
#    carry=0
#    for i in range(1,len(x)+1):
#        r[-i]=  (x[-i]+y[-i]+carry)%10
#        carry = (x[-i]+y[-i]+carry)//10
#        r[-len(x)-1] = carry
#    print(r)
#    print(len(x))
#    print(carry)
#    x = "".join(list1)
#    print(x)
#    y = "".join(list2)
#    print(x+ y)
    list1 = []
    list2 = []
    
    for i in x:
        list1.append(str(i))
    for j in y:
        list2.append(str(j))
    x1 = int("".join(list1))
    y1 = int("".join(list2))
    print(x1+y1)    
        
grade1([1,1],[1])
grade1([9,9],[2])

12
101

In [42]:
"""Exercise 13: Printing the pretty pyramid"""
def pretty_pyramid(num):
    list1 = list(range(0,num+1))
    for num1 in list1:
        print(" * "*num1)
    
    for num1 in list1[::-1]:
        print(" * "*(num1-1))
        

pretty_pyramid(8)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [95]:
"""Exercise 14: Lucky 7
Return the sum of the numbers in an array, returning 0 for an empty array.

The number 7 is ‚Äúlucky‚Äù, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

lucky_seven([1, 2, 4, 1]) ‚Üí 8
lucky_seven([1, 1]) ‚Üí 2
lucky_seven([1, 2, 2, 1, 7]) ‚Üí 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) ‚Üí 30"""

def lucky_seven(list):
    count = 0
    for i, num in enumerate(list):
        if num == 7:
            num*=2
        if i != 0 and list[i-1] == 7:
            num*=3
        count+=num
    print(count)

lucky_seven([7])
lucky_seven([1, 2, 4, 1])
lucky_seven([1, 1])
lucky_seven([1, 2, 2, 1, 7])
lucky_seven([1, 2, 2, 7, 7])
lucky_seven([1, 2, 2, 1, 7, 3, 1])
lucky_seven([7])

14
8
2
20
61
30
14

In [58]:
"""Exercise 15 Pascal triangle"""
from math import factorial
from math import floor

def get_num(row_index, column_index): # row_index = 2, column_index = 2
    numerator = factorial(row_index) # factorial(2) = 2! = 2 * 1 = 2
    denominator = factorial(column_index) * factorial(row_index - column_index) # 2! * (2-2)! = 2! * 1! = 2
    return str(int(numerator / denominator)) # 2 / 2 = 1

def get_rows(rowsLength):
    rows = []
    for row_index in range(0, rowsLength): # row_index = 2
        row = get_columns(row_index + 1) # row = get_columns(2+1) = get_columns(3) = [1, 2, 1]
        rows.append(row) # rows.append([1, 1]) = rows = [[1], [1, 1], [1, 2, 1]]
    return "".join(rows)

def get_columns(columnsLength): # columnsLength = 3
    columns = [" "]
    for column_index in range(0, columnsLength): # column_index = 2
        row_index = columnsLength - 1 # row_index = 3-1 = 2
        column = get_num(row_index, column_index) # column =  get_num(2, 2) = 1
        columns.append(column) # columns.append(1) = columns = [1, 2, 1]
    return " ".join(columns) + "\n"

print(get_rows(8))

  1
  1 1
  1 2 1
  1 3 3 1
  1 4 6 4 1
  1 5 10 10 5 1
  1 6 15 20 15 6 1
  1 7 21 35 35 21 7 1