# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

In [1]:
def addition(a, b):
    return a + b

In [2]:
addition(3, 2)

5

In [3]:
addition(-3, -6)

-9

In [4]:
addition(7, 3)

10

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

In [275]:
all_even = list(range(4, 3049, 2))

In [276]:
all_even[:5]

[4, 6, 8, 10, 12]

In [277]:
all_even[-5:]

[3040, 3042, 3044, 3046, 3048]

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

In [273]:
def first_last(a_str):
    # grab first and last characters by their defined places and concatenate them
    return a_str[0] + a_str[-1]

In [274]:
first_last("ganesh")

'gh'

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

In [270]:
def has_key(dct, key):
    try:
        # attempt to assign the dictionary value to a variable
        # if it fails with KeyError, we know that this key is 
        # non-existant in the dict
        a = dct[key]
    except KeyError:
        return False
    else:
        return True

In [271]:
has_key({ "a": 44, "b": 45, "c": 46 }, "c")

True

In [272]:
has_key({ "a": 44, "b": 45, "c": 46 }, "d")

False

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

In [265]:
def key_count(lst):
    
    #initialize a dictionary
    dct = []
    
    # create the unique set of elements in the given list
    uniques = set(lst)
    
    # loop on these unique values ...
    for val in uniques:
        #initialize counter
        count = 0
        
        # compare each with the elements in the given list
        for num in lst:
            
            # when they match, increase counter by one
            if num == val:
                count += 1
                
        # create a new pair for entry into the dict and then append it
        new = {val : count}
        dct.append(new)
    
    return dct

In [266]:
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4])

[{1: 3}, {2: 1}, {3: 2}, {4: 1}, {5: 2}]

# Exercise 4: Test Distinct

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

```
test_distinct([2,3,4,5,7,8]) -> True
test_distinct([2,3,4,5,8,8]) -> False
```

In [267]:
def test_distinct(lst):
    # compare the lenght of the list with the unique set
    return len(set(lst)) == len(lst)

In [268]:
test_distinct([2,3,4,5,7,8])

True

In [269]:
test_distinct([2,3,4,5,8,8])

False

# Exercise 5: Debt Calculator

Write a Python program to compute the amount of the debt in n months. The borrowing amount is $100,000 and the loan adds 5% interest of the debt and rounds it to the nearest 1,000 above month by month.

The function takes in an integer (the number of months) and returns the total debt including the starting \$100,000 rounded to \$1000 .

```
debt_total(7) -> 144000
debt_total(8) -> 152000
debt_total(9) -> 160000
debt_total(1) -> 105000
debt_total(57) -> 1736000
```

In [278]:
def debt_total(n):
    # initialize the given parameters
    loan = 100000
    intst = 0.05
    
    # initialize the balance
    balance = loan
    
    for i in range(n):
        
        # calculate the interest due
        int_raw = balance * 0.05
        
        # calculate the remainder if divided by 10000
        if int_raw % 1000 > 0:
            
            # round up the number of thousands if there is a remainder
            int_rnd = int_raw // 1000 + 1
        else:
            
            # don't round up if remainder is zero
            int_rnd = int_raw // 1000
            
        # bring number back to thousands and add to balance
        balance += int_rnd * 1000
        
    return balance

In [279]:
lst = [7, 8, 9, 1, 57]
for val in lst:
    print(f"debt_total({val}) -> {debt_total(val)}")

debt_total(7) -> 144000.0
debt_total(8) -> 152000.0
debt_total(9) -> 160000.0
debt_total(1) -> 105000.0
debt_total(57) -> 1736000.0

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

In [280]:
def correct_stream(tst, good):
    
    lst = list(range(len(good)))
    
    for i in lst:
        # do a pair-wise comparison for each element in both lists
        # assign a 1 to a match and a 0 to non-matching pairs
        if tst[i] == good[i]:
            lst[i] = 1
        else:
            lst[i] = 0
    
    return lst

In [281]:
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
)

[1, 1, 0]

In [282]:
correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
)

[1, 0, 1, 1, 1]

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

In [283]:
# define the numbers to treat as a list
rng = list(range(1,151))

# loop through them
for i in rng:
    ans = ''
    
    # catch the dual condition first
    if (i % 3 == 0) and (i % 5 == 0):
        ans = 'FizzBuzz'
    # test for multiple of 3
    elif i % 3 == 0:
        ans = 'Fizz'
    # test for multiple of 5
    elif i % 5 == 0:
        ans = 'Buzz'
    # otherwise, convert number to a string
    else: ans = str(i)
        
    print(ans)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz
Buzz
131
Fizz
133
134
FizzBuzz
136
137
Fizz
139
Buzz
Fizz
142
143
Fizz
Buzz
146
Fizz
148
149
FizzBuzz

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    “laval” ⇒ Yes
    “montreal” ⇒ No
```

In [284]:
def rev_str(strg):
    # get string length
    lngth = len(strg)
    
    # create list to travel backwards through string
    lst = list(range(-1, -lngth-1, -1))
    
    # initialize string
    ans = ''
    
    #loop through backwards and add one character at a time
    for i in lst:
        ans = ans + strg[i]
    
    # check if they match and return answer
    return ans == strg

In [285]:
rev_str('laval')

True

In [286]:
rev_str('montreal')

False

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form “userid-COUNTRYID”. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

In [287]:
def cntry_dict(cntry_lst):
    # initialize dictionary
    dct = {}
    
    # loop through the list
    for ids in cntry_lst:
        # grab the last two letters in string as the country code
        key = ids[-2:]
        
        try:
            # test if the key exist and, if so, add to the counter
            dct[key] += 1
        except KeyError:
            # if the key doesn't already exist, create it with a value of 1
            dct[key] = 1
            
    return dct

In [288]:
cntry_dict(['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US'])

{'US': 2, 'CA': 1}

In [289]:
lsst = ['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US',
    'iuhsdf897y3righsfe-US', 'iushdf98h23ryg-IT', 'iuhdf9h32ryu9gf-IT',
    'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK'
]
cntry_dict(lsst)

{'US': 3, 'CA': 1, 'IT': 2, 'FR': 1, 'UK': 1}

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

In [290]:
def top3(cntry_dict):
    
    # loop through the given dictionary and collect all values
    vals = []
    for key in cntry_dict:
        vals.append(cntry_dict[key])
        
    # get unique values by making it a set (but make a list to iterate over)
    # oh, and sort it in reverse order (highest first)
    vals = list(set(vals))
    vals.reverse()

    # create an empty dictionary to store the sorted results
    dct = {}
    
    # let us loop through only the top three number of users and collect the 
    # corresponding country codes
    # Note that we consider the case where there are less than 3 categories
    # for the number of users
    for i in list(range(min([3, len(vals)]))):
        
        for key in cntry_dict:
            # test if # of users matches
            if cntry_dict[key] == vals[i]:
                try:
                    # attempt to add the country code to the existing list with a space
                    # in between (yes, I am assuming we want to respect ties)
                    tmp = dct[vals[i]]
                    dct[vals[i]] = tmp + ', ' + key
                except KeyError:
                    # if key didn't already exist then add it
                    dct[vals[i]] = key
    
    # let us print out the results
    for key in dct:
        print(f"The following countries have {key} users: {dct[key]}.")
    
    return dct

In [291]:
lsst = ['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US',
    'iuhsdf897y3righsfe-US', 'iushdf98h23ryg-IT', 'iuhdf9h32ryu9gf-IT',
    'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK'
]
ress = cntry_dict(lsst)
res = top3(ress)

The following countries have 3 users: US.
The following countries have 2 users: IT.
The following countries have 1 users: CA, FR, UK.

In [292]:
ress = cntry_dict(['gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US'])
res = top3(ress)

The following countries have 2 users: US.
The following countries have 1 users: CA.

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(-332) ➞ -4

century_from_year(55) ➞ 1

century_from_year(-65) ➞ -1
```

In [293]:
def century_from_year(yr):
    
    # rather than create two methods for positive and negative
    # just use the sign of year to determine the result
    # sign is given by year / abs(year)
    centry = abs(yr) // 100 + 1
    centry = int(yr * centry / abs(yr))
    
    return centry

In [294]:
century_from_year(2005)

21

In [295]:
century_from_year(1850)

19

In [296]:
century_from_year(-332)

-4

In [297]:
century_from_year(55)

1

In [298]:
century_from_year(-65)

-1

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

In [299]:
def weird_science(lst1, lst2):
    
    # each number is multiplied by an order of 10.
    # generate a list of exponents for 10 from the
    # length of the list.
    ln1 = len(lst1)
    rng1 = list(range(ln1))
    # reverse the list to get the first number multiplied by the highest order of 10
    rng1.reverse()
    # likewise for list 2.
    ln2 = len(lst2)
    rng2 = list(range(ln2))
    rng2.reverse()
    
    summ = 0
    for i in rng1:
        # multiply each number in the list by a corresponding order of 10.
        # note that we have to fix the index value for lst1 and lst2 so that
        # we are multiplying the first number by the highest order of 10
        summ += lst1[ln1 - i - 1] * (10 ** i)
        
    for j in rng2:
        summ += lst2[ln2 - j - 1] * (10 ** j)
        
    return summ

In [300]:
weird_science([9, 9], [2])

101

In [301]:
weird_science([1, 1], [1])

12

In [302]:
weird_science([1, 2], [2, 3, 5, 7])

2369

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [303]:
def pretty_pyramid(wide):
    
    # create a list going from 1 to required width
    rng1 = list(range(1, wide+1))
    
    # create a list going from 1 to one less than the width
    rng2 = list(range(1, wide))
    # reverse this list
    rng2.reverse()
    
    # concatinate the ranges
    rng = rng1 + rng2
    
    ast = '*'
    # loop through and create the pyramid
    for i in rng:
        txt = ast * i
        print(txt)
        
    return

In [304]:
pretty_pyramid(8)

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

In [305]:
pretty_pyramid(6)

*
**
***
****
*****
******
*****
****
***
**
*

In [306]:
pretty_pyramid(18)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

In [307]:
def lucky_seven(lst):
    
    # initialize sum
    summ = 0

    # create a factor to simplify the logic
    fac2 = 1

    # loop through the list items
    for i in list(range(len(lst))):
        if lst[i] == 7:
            summ += 7 * 2
            # fac2 becomes 3 for the next round only
            # this assumes that if there are two sevens
            # in a row, we will not treble the second 7.
            fac2 = 3
        else:
            summ += lst[i] * fac2
            # reset fac2 for the next item
            fac2 = 1
    return summ

In [308]:
lucky_seven([1, 2, 4, 1])

8

In [309]:
lucky_seven([1, 1])

2

In [310]:
lucky_seven([1, 2, 2, 1, 7])

20

In [311]:
lucky_seven([1, 2, 2, 1, 7, 3, 1])

30

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```

In [312]:
def pascal_triangle(n):
    
    # we will need n rows in our triangle
    # each row that we descend, our width will grow by one
    
    # perform the work for the first row which is trivial
    txt = ' ' * (n - 1) * 2 + '1'
    print(f"{txt}\n")
    
    # exit if n = 1
    if n == 1:
        return
    
    # initialize the "old" array for the logic ahead
    old = [1]
    # set up the FOR loops

    for i in list(range(2, n+1)):
        # create an array of the proper width
        current = list(range(i))

        # first element is always 1
        current[0] = 1

        # start blank spaces of next line
        txt = '  ' * (n - i) + str(current[0])

        #loop the rest of the elements
        for j in list(range(1, i)):

            # populate each element with the sum of the 
            # trailing elements in the row above (old)
            if j != i-1:
                current[j] = old[j] + old[j-1]
            else:
                # do last element separately
                current[j] =          old[j-1]
            
            # populate text line
            txt = txt + '  ' * 2 + str(current[j])

        print(f"{txt}\n")
        old = current
        
    return

In [313]:
pascal_triangle(5)

        1

      1    1

    1    2    1

  1    3    3    1

1    4    6    4    1

In [314]:
pascal_triangle(8)

              1

            1    1

          1    2    1

        1    3    3    1

      1    4    6    4    1

    1    5    10    10    5    1

  1    6    15    20    15    6    1

1    7    21    35    35    21    7    1

In [315]:
pascal_triangle(7)

            1

          1    1

        1    2    1

      1    3    3    1

    1    4    6    4    1

  1    5    10    10    5    1

1    6    15    20    15    6    1