In [1]:
l = [1, 2, 3]
for x in l:
    print(x ** 2)

1
4
9

In [10]:
d = {1: 2, 3: 4}
print(d)
for k in d:
    print(f"{k} : {d[k]}")

d = {1: 2, 3: 4}
for k in d:
    print(f"{k} : {d[k]}")

{1: 2, 3: 4}
1 : 2
3 : 4
1 : 2
3 : 4

In [15]:
range(10)
list(range(10))
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [17]:
list(range(3,6))

[3, 4, 5]

In [19]:
keys = ['name', 'pet', 'city']
values = ['Matt', 'dog', 'Montreal']
d = {}

for i in range(len(keys)):
    d[keys[i]] = values[i]

d

{'name': 'Matt', 'pet': 'dog', 'city': 'Montreal'}

In [20]:
z = zip([1, 2, 3], [1, 4, 9])
z

In [21]:
list(z)

[(1, 1), (2, 4), (3, 9)]

In [23]:
countries = ['Canada', 'France', 'UK']
cities = ['Ottawa', 'Paris', 'London']
for country, city in zip (countries, cities):
    print(f"The capital of {country} is {city}")

The capital of Canada is Ottawa
The capital of France is Paris
The capital of UK is London

In [24]:
dict(zip(countries, cities))

{'Canada': 'Ottawa', 'France': 'Paris', 'UK': 'London'}

In [5]:
a = list(range(50))
square_map = dict(zip(a, [x ** 2 for x in a]))
print(square_map)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401}

In [6]:
k, v = [], []
for i in d:
    k.append(i)
    v.append(d[i])

In [7]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
print(plurals)

['dogs', 'cats', 'birds']

In [10]:
if True:
    print("1")
else:
    print("2")

1